################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CQRSCodeGenerator/bin/Debug/net8.0
/CQRSCodeGenerator/obj
